{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container mt-5">

        
        <h1 class="display-4">{{ page.title }}</h1>
        
        <div class="lead">
            {{ page.body|richtext }}
            </div>
            <div class="col-lg-5">
        {% if page.image %}
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                {% image page.image fill-500x500 class="img-fluid" %}
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
